*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.triangle::after{
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px #FFFFFF solid;
    position: absolute;
}
@font-face {
    font-family: 'icon';
    src:url(../fonts/icon.ttf) format('truetype') ;
}
@font-face {
    font-family: 'avenir';
    src:url(../fonts/avenir.ttf) format('truetype');
}

/*  header开始  */
#header{
    width: 100%;
    height: 100px;
    display: flex;
}
#menu{
    padding: 27px 0 0 15px;
    width: 90px;
}
#menu img{
    display: block;
    cursor:pointer;
}
#menu span{
    font-size: 13px;
    padding-left: 2px;
    font-family: avenir;
    cursor:pointer;
}
#brand{
    text-align: center;
    height: 100px;
    flex-grow: 1;
}
#logo{
    width: 73px;
    padding-top: 13px;
}
#star-club{
    display: block;
    height: 20px;
    font-size: 16px;
    width: 90px;
    margin-top: 27px;
    margin-right: 15px;
    font-weight:bold;
}
#star-club a{
    font-size: 12px;
    color: #bda683;
    font-weight: bold;
}
#star-club a:hover{
    color: #967a50;
    cursor: pointer;
}
@media(max-width: 767px){
    #star-club{
        font-size: 12px;
        margin-right: 5px;
    }
}
@media(max-width: 425px){
    #logo{
        width: 25%;
    }
    #brand{
        width: 100%;
    }
}
/*  header结束  */

/*  mask开始  */
#mask{
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
#receptacle{
    width: 270px;
    background: rgba(0,0,0,1);
}
#receptacle ul{
    padding: 10px 0;
}
#receptacle a{
    width: 240px;
    padding: 10px 15px;
    display: block;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
}
#shop{
    border-bottom: 1px solid #8c8c8c;
}
#shop a{
    color: #b89f7a;
}
#shop a:hover{
    color: #ffffff;
}
#nav-menu a{
    color: #ffffff;
}
#nav-menu a:hover{
    color: #967a50;
}
#nav-menu li .triangle::after{
    left: 245px;
    margin-top: 11px;
}